/* *,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #164e63;
  --color-primary-500: #06b6d4;
  --color-secondary: #facc15;
  --color-gray-dark: #111827;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #fffffe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 15px 32px;
  line-height: 1.4;
  color: var(--color-gray-dark);
}
.heading {
  color: #2b2c34;
}
.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(190deg, 5%, 80%);
  padding: 15px 0;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-left: 2rem;
}
.nav-link-text {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.3rem;
}

.site-title {
  font-size: 2rem;
  color: #e16162;
  font-weight: 700;
} */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: hsl(220deg 3% 20% / 0.6);
}

.hidden {
  transform: translateX(100%);
}
